#
# Simple VCB can be used to drive vcb backups from more than one
# server. The list must be comma separated. The names will be used as the actual URL
#
vcb.servers=vsphere,vcenter

#
# vsphere config:
#	the name is the actual server name and will be used as the url
#   user, password: self explanatory
#   exportpath : where vm will be copied to after snapshot and mounting
#	             (path must exist and other usual vcb restrictions apply).
#                in my case this is a network share on a data domain system
#   vms : a comma separated list of vm to backup
#
vcb.server.vsphere.user=vcb
vcb.server.vsphere.password=secret
vcb.server.vsphere.exportpath=q:\\vsphere
vcb.server.vsphere.vms=vm1,vm2,vm3,vmspecial

#
# these are the default settings (apply to all vm except this which have specifics below)
# keep 14 most recent backups
vcb.server.vsphere.protection=14
# backup every day
vcb.server.vsphere.interval=1

# you can also specify per vm backup settings
# in example we need to backup this low priority vm only once a week
# and three copies are enough

# keep 3 most recent backups only for this vm
vcb.server.vsphere.vm.vmspecial.protection=3
# backup it up only every 7 days (or once a week)
vcb.server.vsphere.vm.vmspecial.interval=7


#
# This is the configuration for another server called vcenter
# Params work exactly as above
# 
vcb.server.vcenter.user=vcb
vcb.server.vcenter.password=secret
vcb.server.vcenter.exportpath=q:\vcenter
vcb.server.vcenter.vms=linux1,linux2,linux3

# default settings
# keep 14 most recent backups
vcb.server.vcenter.protection=14
# backup every day
vcb.server.vcenter.interval=1

vcb.server.vcenter.vm.linux3.protection=2
vcb.server.vcenter.vm.linux3.interval=7


